#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}
div,p,ul,li{
  margin: 0;
  padding: 0;
}

/* goodsMenu样式 */
.am-list-header{
  padding: 0 !important;
}
.am-list-body{
  height: 100px;
  padding: 10px 0;
  box-sizing: border-box;
}
.am-list-item .am-list-line-multiple{
  padding: 0 !important;
}
.am-list-item .am-list-thumb img{
  width: 82px;
  height: 82px;
}
.am-list-body .am-list-item .am-list-line .am-list-content{
  font-size: 14px;
}
.am-list-body .am-list-item .am-list-line .am-list-brief{
  margin-top: 18px;
  
}
.am-list-body .am-list-item .am-list-line .am-list-content{
  white-space:wrap !important;
}